@page "/"

@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

<head>
    ...
    <link href="https://cdn.syncfusion.com/blazor/18.1.45/styles/fabric.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">*@
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="ControlDeMetas.Client.styles.css" rel="stylesheet" />
    
</head>

<MetaList />
